{
  "extends": "mourner",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "indent": ["error", 2],
    "space-before-function-paren": 0,
    "semi": ["error", "never"],
    "no-setter-return": 0,
    "no-dupe-else-if": 0,
    "no-import-assign": 0
  }
}